body
{
    margin: 10px;
    text-decoration: none;
}

*{
    padding: 0;
    margin: 0;
}

a{
    color: black;
}

/* ###################################################### */


/* Start of specific styles */

/* Start of Header */
.wrapper{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.568), rgba(0, 0, 0, .5)),url('../images/yale.jpg');
    background-position: center;
    background-size: cover;
    top: 0;
}

nav{
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.363);/*This is the transparent black background*/
    line-height: 80px;
    display: flex;
    justify-content: space-between;
    /* position:fixed; /*this does the header to stick*/
    /* top:0; */ 
}

nav img{
    margin-left: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
nav img :hover{
    margin-left: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

nav ul{
    margin: 0;
    padding: 0;
    margin-right: 1.9rem;
    display: flex;
    justify-content: space-between;
    width: 35%;
}

nav ul li{
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;
    color: white;
    padding: 20px 4px 0 4px;
}

nav ul li a :active{
    text-decoration: none;
    color: white;
    padding: 20px 4px 0 4px;
    border-bottom: 1px solid black;
}

nav ul li a:hover{
    /* background-color: coral; */
    border-radius: 10px;
    padding: 4px;
    color: #000;
    font-weight: bold;
    /* font-size: 1.2rem; */
    border-bottom: 3px solid black;
}

/* End of Header */

#heading{
    padding: 10px;
    margin: 10px 0;
    border: 1px solid black;
}

#slider-images{
    padding: 100px;
    height: 100px;
    border: 1px solid black;
}

/* .card{
    border: 1px solid black;
    border-radius: 5px;
    height: 150px;
    margin: 10px 0px;
    display: flex;
    justify-content: center;
}

.cards{
    border: 1px solid black;
    margin-right: 20px;
    width: 200px;
} */
.card-img-top{
    width: 100%;
    height: 25vw;
    object-fit: cover;
    
}
/* .card-deck{
    position: relative;
    top: 0;
    left: 0;
    width: 250px;
    height: 320%;
    
} */
/* .card-deck{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   } */
   .thefront{
    position: relative;
    width:100%;
    height:100%; 
    backface-visibility: hidden;
    
}
.theback{
  position: absolute;
  width:100%;
  height:100%;
  backface-visibility: hidden;
  overflow: hidden;
  text-align: center;
  width: 100%;
  transform: rotateY(180deg);
  
} 
    .cardDetails{
        font-family: 'Viaoda Libre', cursive;
    }
    .card-wrapper{
    height:400px;
    width:300px;
    perspective:1000px; 
    }
    .cardFooter{
        font-family: 'Oswald', sans-serif;
    }
    .content{
        position:relative;
        width:100%;
        height:100%;
        text-align:center;
        transition:transform 0.8s;
        transform-style:preserve-3d;  
    }
    .card-wrapper:hover .content{
        transform: rotateY(180deg);
        transition: 1s;
    }
   .card{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    /* background: rgb(0, 174, 255); */
    transform-style: preserve-3d;
    transition: all 0.8s ease;
    
}

.card:hover{
    transform: rotateY(180deg);
  }
  

.middle{
    position:relative;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.thefront img{
    height: 100%;
}
.theback{
    background: #f1f1f1;
}
/* .back-content{
    color:#2c3e50;
    text-align: center;
    width:100%;
} */
  /* .card-img-top{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    background: #ffc728;
    color: #000;
  }
  
  /* THE BACK FACE OF THE CARD, WHICH SHOWS ON MOUSEOVER */
  /* .card-body{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    background: #fafafa;
    color: #333;
    text-align: center;
    transform: rotateY(180deg);
  } */ 